name: Release

on:
  push:
    tags:        
      - '*' 
  workflow_dispatch:  

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v6

      - name: Build
        run: python3 -m build --wheel
    
      - name: Publish package on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
