name: Release

on:
  push:
    tags:        
      - '*' 
  workflow_dispatch:  

permissions:
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Build
        run: |
          pip3 install build wheel
          python3 -m build --wheel
    
      - name: Publish package on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
